.movie-view {
    box-shadow: 4px 4px 6px 4px rgba(12, 17, 26, 0.3);
    min-height: 750px;
}

.profile-card {
    height: 90vh;
}

.little-card {
    box-shadow: 1px 1px 2px 2px rgba(12, 17, 26, 0.3);
}

.heart {
    opacity: 0.3;
}

.heart:hover {
    cursor: pointer;
}

.heart-visible {
    opacity: 1;
}

.heart-visible:hover {
    cursor: pointer;
}

.label {
    display: block;
}

@media all and (min-height: 630px) {
    .movie-view-container {
        height: auto;
    }

    .movie-view {
        height: auto;
    }

    .profile-card {
        height: auto;
    }
}