.profile-background {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.profileImage.profileImage {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: 50% 10%;
    z-index: -1;
}

.profile-badge {
    position: absolute;
    bottom: 0;
    left: 10%;
    transform: translateY(70px);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    z-index: 100;
    font-size: 40px;
    font-weight: bold;
}

.profileIntro.profileIntro {
    background-color: white;
    width: 70%;
    margin-left: auto;
    border: none;
    position: relative;
}

.profile-name {
    color: black;
    width: auto;
    font-size: 30px;
    text-align: left;
}

.company-name {
    width: auto;
    text-align: left;
    margin-left: 30px
}

.editButton {
    position: absolute;
    top: 0;
    right: 10%;
    cursor: pointer;
}

.cancelButton {
    position: absolute;
    top: 40%;
    right: 10%;
    color: red;
    cursor: pointer;
}

.secondaryInfo {
    border: none;
    width: 100%;
}

.formSecondaryInfo {
    max-width: 800px;
    display: flex;
}

.form_item {
    max-width: 330px;
}

.notEditingSecondaryInfo {
    display: flex;
    max-width: 700px;
    justify-content: space-between;
    align-content: center;
}



@media all and (max-width: 700px) {
    .profile-badge {
        transform: translateY(50px);
        left: 3%;
        width: 100px;
        height: 100px;
    }

    .notEditingSecondaryInfo {
        display: block;
        padding-left: 30px;
    }

    .restOfInfo {
        max-width: 250px;
        display: block;
    }

    .profileIntro.profileIntro {
        width: 70%;
    }

    /* .cancelButton {
        top: 35%;
    } */
}