.profile-background {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.profileImage.profileImage {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: 50% 10%;
    z-index: -1;
}

.profileIntro.profileIntro {
    background-color: white;
    width: 75%;
    margin-left: auto;
    border: none;
}

.profile-badge {
    position: absolute;
    top: 32%;
    left: 15%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    z-index: 100;
    font-size: 40px;
    font-weight: bold;
}

.profile-name {
    color: black;
    width: 200px;
    font-size: 30px;
    text-align: center;
}

.company-name {
    width: 150px;
    text-align: center;
    margin-left: 30px
}

.project-card {
    height: 300px;
}

@media all and (max-width: 700px) {
    .profile-badge {
        top: 35%;
        left: 7%;
        width: 130px;
        height: 130px;
    }

    .profileIntro.profileIntro {
        width: 65%;
    }
}