.modal-backdrop {
  opacity: 0.5 !important;
  z-index: 999 !important;
}

.background.modal-backdrop {
  opacity: 0 !important;
}

.notification-container {
  position: fixed;
  right: 3%;
  bottom: 3%;
  opacity: 0;
  margin-left: -175px;
  transform: translateY(250%);
  z-index: 1000 !important;
}

.notification-container.show {
  animation: slide-vertically 0.35s ease forwards;
  opacity: 1.5;
}

.notification-container.hide {
  animation: hide 0.35s ease forwards;
}

.notification-message {
  background: #222;
  border: 1px solid rgb(42, 180, 0);
  color: #fff;
  height: 55px;
  border-radius: 3px;
  display: grid;
  align-items: center;
  grid-template-columns: 85% 15%;
  text-align: center;
  width: 350px;
}

.close-btn {
  color: #fff;
  border: none;
  cursor: pointer;
  background-color: rgb(42, 180, 0);
  height: 54px;
  opacity: 1;
  border-radius: 3px;
  width: 54px;
  margin: auto;
  z-index: 1000 !important;
}

@keyframes slide-vertically {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes hide {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(250%);
    opacity: 0;
  }
}

@media all and (max-width: 700px) {
  .notification-container {
    left: 50%;
  }
}